---
// Import the necessary dependencies
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import ReviewComponent from "@components/ui/blocks/ReviewComponent.astro";
import Face from "../../lottie/Face";

// Define props from Astro
const {
  title,
  subTitle,
  primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL,
  withReview,
  avatars,
  starCount,
  rating,
  reviews,
  src,
  alt,
} = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;
  withReview?: boolean;
  avatars?: Array<string>;
  starCount?: number;
  rating?: string;
  reviews?: string;
  src?: any;
  alt?: string;
}
---

<!-- Defining a grid container that holds all the content -->
<section
  id="home"
  class="mx-auto grid max-w-[85rem] gap-4 px-4 py-14 sm:px-6 md:grid-cols-2 md:items-center md:gap-8 lg:px-8 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="text-end">
    <video
      width="600"
      height="600"
      controls
      autoplay
      loop
      muted
      class="rounded-lg"
    >
      <source src="https://mtdevpocstorage.blob.core.windows.net/exposurehitss/acciones.mp4?sp=r&st=2024-09-17T21:32:59Z&se=2025-01-01T05:00:00Z&spr=https&sv=2022-11-02&sr=b&sig=XNBr1AbjWwCKcUEWQiSwZPRL4GoIpysnoADemfl6doM%3D" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <!-- Hero Image Section -->
  <div class="flex w-full justify-center">
    <div class="top-12 overflow-hidden">
      <div class="h-80 w-80">
        <Face client:load />
      </div>
    </div>
  </div>
</section>
