---
const { src, alt, size } = Astro.props;

interface Props {
  src: string;
  alt: string;
  svg: string;
  size: string;
}
---

<div class="flex-shrink-0">
  <img
    class={`${size} mx-4`}
    src={src}
    alt={alt}
    loading="lazy"
  />
</div>
